@use '@styles/vars';
@use '@styles/utils';

%hover {
  background-color: vars.$dc;
  color: vars.$bc;
}

@mixin button() {
  width: vars.$button_width;
  height: vars.$button_height;

  padding: 0 vars.$button_padding;
  cursor: pointer;

  &.--fill {
    @include utils.f();

    background-color: vars.$bc;

    &:hover {
      @extend %hover;
    }
  }

  &.--outline {
    @include utils.f(0, 'jc');

    border-width: vars.$button_border_width;
    border-style: solid;
    border-color: vars.$dc;

    &:hover {
      @extend %hover;
    }
  }
}
