body {
  margin: 0;
}

#app {
  min-height: 100vh;

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }

  table {
    caption-side: bottom;
    border-collapse: collapse;
  }

  input,
  button,
  *::focus-visible {
    outline: none;
  }

  a {
    text-decoration: none;
  }
}
